<mat-dialog-content>

  <div class="card card-warning">

        <div class="card-header">
             <h2 class="card-title mb-0">{{ 'edituser' | translate }}</h2>
             <button type="button" class="close" mat-dialog-close></button>

        </div>

         <form autocomplete="off"
             [formGroup]="fus"
             (ngSubmit)="editUsers()">
              <div class="card-body">

                        <ng-container *ngIf="!loadData">
                          <mat-dialog-actions>

                                 <div class="form-group col-md-6 mb-6">

                                            <input
                                              type="text"
                                              id="InputName"
                                              class="form-control"
                                              placeholder="{{ 'name' | translate }}"
                                              formControlName="displayName"
                                              [ngClass]="{ 'is-invalid': namef.invalid && (namef.dirty || namef.touched) }"    />
                                              <div *ngIf="namef.invalid && (namef.dirty || namef.touched)" class="invalid-feedback">
                                                <div *ngIf="namef.errors['required']" >
                                                  Name Required
                                                </div>
                                              </div>


                                            <input
                                            type="number"
                                            id="Inputage"
                                            class="form-control"
                                            placeholder="{{ 'age' | translate }}"
                                            formControlName="age"
                                            [ngClass]="{ 'is-invalid': agef.invalid && (agef.dirty || agef.touched) }" />
                                          <div *ngIf="agef.invalid && (agef.dirty || agef.touched)" class="invalid-feedback">
                                            <div *ngIf="agef.errors['required']" >
                                              Please enter an age.</div>
                                            <div *ngIf="agef.errors['pattern']" >
                                              Please valid age between 18 and 69.
                                            </div>
                                          </div>


                                          <input
                                          type="email"
                                          id="InputEmail"
                                          class="form-control"
                                          placeholder="{{ 'email' | translate }}"
                                          autocomplete="on"
                                          formControlName="emailu"/>


                                        <input
                                        type="password"
                                        class="form-control"
                                        placeholder="{{ 'password' | translate }}"
                                        formControlName="passnew"
                                        autocomplete="on"
                                        [ngClass]="{ 'is-invalid': fus.controls.passnew.invalid && (fus.controls.passnew.dirty || fus.controls.passnew.touched) }"
                                        />
                                        <div *ngIf="fus.controls.passnew.invalid && (fus.controls.passnew.dirty || fus.controls.passnew.touched)" class="invalid-feedback">
                                          Password Required
                                        </div>

                                      <input
                                      type="text"
                                      class="form-control"
                                      placeholder="{{ 'phone' | translate }}"
                                      formControlName="phone" />
                                      <div *ngIf="fus.get('phone').invalid && (fus.get('phone').dirty || fus.get('phone').touched)" class="invalid-feedback">
                                        <div *ngIf="fus.get('phone').errors['required']">
                                          Phone Required
                                        </div>
                                        <div *ngIf="fus.get('phone').errors['pattern']">
                                          Number phone 10 digit.
                                        </div>
                                      </div>

                                 </div>


                       <div class="form-group col-md-6 mb-3">
                              <div class="form-group">
                                 <div class="card card-primary card-img">
                                    <div class="text-center">
                                       <label for="pictureUpload" class="mb-3">
                                       <img [src]="imageUrl" width="100" height="100" *ngIf="imageUrl">
                                      {{ 'Avatar/Foto' | translate }}
                                    </label>
                                    <input type="file" id="pictureUpload" (change)="uploadImage($event)" style="display: none;">
                                  </div>
                                 </div>
                              </div>

                                  <input
                                  type="text"
                                  class="form-control"
                                  placeholder="{{ 'country' | translate }}"
                                  formControlName="country"
                                  [ngClass]="{ 'is-invalid': countryf.invalid && (countryf.dirty || countryf.touched) }"    />
                                  <div *ngIf="countryf.invalid && (countryf.dirty || countryf.touched)" class="invalid-feedback">
                                    <div *ngIf="countryf.errors['required']" >
                                        Country Required
                                    </div>
                                  </div>


                                  <select id="organ"
                                       class="form-control"
                                       formControlName="organization">
                                          <option *ngFor="let item of organizationData"
                                          [value]="item.organization">{{ item.organization }}
                                        </option>
                                  </select>

                                    <input
                                    type="text"
                                      class="form-control"
                                      placeholder="{{ 'position' | translate }}"
                                      formControlName="position"
                                    [ngClass]="{ 'is-invalid': invalidField('position') }" />
                                    <div *ngIf="positionf.invalid && (positionf.dirty || positionf.touched)" class="invalid-feedback">
                                        <div *ngIf="positionf.errors['required']" >
                                          Position Required
                                        </div>
                                    </div>

                       </div>

                        </mat-dialog-actions>
                        </ng-container>

               </div>

                 <div class="card-footer">
                    <button mat-dialog-close class="btn btn-secondary float-right">Cancelar</button>
                      <button type="submit" class="btn btn-warning float-right" [disabled]="fus.invalid">Salvar</button>
                 </div>

         </form>

  </div>

</mat-dialog-content>

