<mat-dialog-content>

  <div class="card card-warning">

        <div class="card-header">
             <h2 class="card-title mb-0">{{ 'edituser' | translate }}</h2>
             <button type="button" class="close" mat-dialog-close></button>

        </div>

         <form autocomplete="off"
             [formGroup]="fus"
             (ngSubmit)="editUsers()">
              <div class="card-body">

                        <ng-container *ngIf="!loadData">
                          <mat-dialog-actions>
                            <div class="form-group col-md-6 mb-3">
                              <label for="InputName">{{ 'displayName' | translate }}</label>
                              <input
                                type="text"
                                id="InputName"
                                class="form-control"
                                placeholder="{{ 'name' | translate }}"
                                formControlName="displayName"
                                [ngClass]="{ 'is-invalid': invalidField('displayName') }"
                              />
                              <div class="invalid-feedback">Please provide a name</div>
                            </div>

                            <div class="form-group col-md-6 mb-3">
                              <label for="Inputage">{{ 'age' | translate }}</label>
                              <input
                                type="text"
                                id="Inputage"
                                class="form-control"
                                placeholder="{{ 'age' | translate }}"
                                formControlName="age"
                                [ngClass]="{ 'is-invalid': age.invalid && (age.dirty || age.touched) }"
                              />
                              <div *ngIf="age.invalid && (age.dirty || age.touched)" class="invalid-feedback">
                                <div *ngIf="age.hasError('required')" class="invalid-feedback">Please enter an age.</div>
                                <div *ngIf="age.hasError('pattern')" class="invalid-feedback">
                                  Please enter a valid age between 18 and 69.
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-6 mb-3">
                              <label for="Inputemail">{{ 'email' | translate }}</label>
                              <input
                                type="text"
                                id="Inputemail"
                                class="form-control"
                                placeholder="{{ 'email' | translate }}"
                                formControlName="email"
                                [ngClass]="{ 'is-invalid': fus.controls.email.invalid && (fus.controls.email.dirty || fus.controls.email.touched) }"
                              />
                              <div *ngIf="fus.controls.email.invalid && (fus.controls.email.dirty || fus.controls.email.touched)" class="invalid-feedback">
                                Please enter a valid email address.
                              </div>
                            </div>



                            <div class="form-group col-md-6 mb-3">
                              <label for="Inputcount">{{ 'country' | translate }}</label>
                              <input
                                type="text"
                                id="Inputcount"
                                class="form-control"
                                placeholder="{{ 'country' | translate }}"
                                formControlName="country"
                                [ngClass]="{ 'is-invalid': invalidField('country') }"
                              />
                              <span class="invalid-feedback">{{ 'country' | translate }}</span>
                            </div>

                            <div class="form-group col-md-6 mb-3">
                              <label for="Inputph">{{ 'phone' | translate }}</label>
                              <input
                                type="text"
                                id="Inputph"
                                class="form-control"
                                placeholder="{{ 'phone' | translate }}"
                                formControlName="phone"
                              />
                            </div>


                                    <div class="form-group col-md-6 mb-3">

                                      <div class="custom-file">
                                        <input type="file" (change)="uploadImage($event)" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose Image</label>
                                        <small class="mt-2">200px * 200px size | jpg or png format </small>
                                      </div>

                                    </div>

                                    <div class="form-group col-md-6 mb-3">
                                      <label for="Inputpos">{{ 'position' | translate }}</label>
                                      <input
                                        type="text"
                                        id="Inputpos"
                                        class="form-control"
                                        placeholder="{{ 'position' | translate }}"
                                        formControlName="position"
                                        [ngClass]="{ 'is-invalid': invalidField('position') }"
                                      />
                                      <div *ngIf="invalidField('position')" class="invalid-feedback">
                                        Please enter a valid position.
                                      </div>
                                    </div>

                                    <div class="form-group col-md-6 mb-3">
                                      <label for="Inputorg">{{ 'organ' | translate }}</label>
                                      <input
                                        type="text"
                                        id="Inputorg"
                                        class="form-control"
                                        placeholder="{{ 'organ' | translate }}"
                                        formControlName="organization"
                                        [ngClass]="{ 'is-invalid': invalidField('organization') }"
                                      />
                                      <div *ngIf="invalidField('organization')" class="invalid-feedback">
                                        Please enter a valid organization.
                                      </div>
                                    </div>


                        </mat-dialog-actions>
                        </ng-container>

                      </div>


                      <div class="card-footer">
                        <button mat-dialog-close class="btn btn-secondary float-right">Cancelar</button>
                        <button type="submit" class="btn btn-warning float-right" [disabled]="fus.invalid">Salvar</button>
                      </div>

    </form>

  </div>

</mat-dialog-content>

