<h2 mat-dialog-title class="h2-dialog">{{ 'new' | translate }}</h2>
<!-- Se inicializa el Formulario -->

<form autocomplete="off" [formGroup]="fmanage" (ngSubmit)="saveManage()">
  <!-- Contenido del dialog -->
  <mat-dialog-content class="mat-typography">
    <!-- Contenido del dialog -->
    <div class="container-fluid">
      <div class="row">
        <!-- Columna 1 -->
        <div class="col-sm-6">

          <div class="form-group">

                <label for="fecha"></label>
                  <input type="date" placeholder="Fecha" id="fecha"
                  class="form-control" formControlName="date">

                  <div class="row mt-2">
                    <!-- SubColumna 1.1.4.1 Bootstrap Area-->
                    <div class="col-sm-12">
                      <!-- Campo de texto Titulo o parent -->
                      <input type="text" id="area" class="form-control" placeholder="Parent"
                            formControlName="parent" />
                      <!-- Tooltip de validacion del campo Area -->
                      <div class="invalid-tooltip">
                        Please enter Parent
                      </div>
                    </div>
                  </div>

                    <!-- SubFila 1.1.6 Bootstrap Descripcion-->
                      <div class="row mt-2">
                        <!-- SubColumna 1.1.6.1 Bootstrap Referencia -->
                        <div class="col-sm-12">
                          <!-- Campo de texto Referencia -->
                          <textarea id="details" rows="6" class="form-control" placeholder="Descripcion"
                                    formControlName="description"></textarea>
                          <!-- Tooltip de validacion del campo referencia -->
                          <div class="invalid-tooltip">
                            Se requieren descripcion.
                          </div>
                        </div>
                      </div>

          </div>
        </div>

        <!-- Columna 2 -->
        <div class="col-sm-6">
          <div class="form-group">
              <!-- Select Versiones-->
              <div class="row">
                  <input type="file" class="form-control" (change)="onFileSelected($event)">

              <select id="selectPhase" class="form-control" formControlName="version">
              <option selected disabled value="">{{ 'Seleccione version' }}</option>
              <option *ngFor="let fase of faseOptions" [value]="fase">{{ fase }}</option>
            </select>

          </div>
        </div>
      </div>

      </div>
      <!-- Resto del código HTML... -->
    </div>
  </mat-dialog-content>
  <!-- Resto del código HTML... -->
  <!-- Acciones del Dialog -->
  <mat-dialog-actions align="end" class="footer-dialog">
    <!-- Container Bootstrap del contenido del las Acciones del Dialog -->
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-auto me-auto">
          <!-- Boton de Cancelar -->
          <button mat-button mat-dialog-close class="btn btn-secondary">
            Cancelar
          </button>
        </div>
        <div class="col-auto">
          <!-- Boton de Guardar -->
          <button type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
</form>



