<aside class="main-sidebar sidebar-light-warning elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link navbar-warning">
    <img src="../../assets/img/template/hco.jpg" alt="Be" class="brand-image img-circle" style="opacity: .8">
    <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../assets/img/soriano.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Jose Angel Soriano</a>
      </div>
    </div>






    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


 <!-- Example Code -->

 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    PM
  </button>
  <ul class="dropdown-menu" style="">
    <li><button class="dropdown-item" type="button" (click)="navigateToInterested()">Gestion Interesados</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul>
</div>


            <button mat-button aria-label="s" (click)="home()">
               <mat-icon>home</mat-icon>
                Home
            </button>


             <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
                <mat-icon>app_shortcut</mat-icon>
                  <span>PM</span>
             </button>

                <mat-menu #menu1="matMenu">
                  <button mat-menu-item (click)="navigateToInterested()">
                        <mat-icon>view_array</mat-icon>
                              <span>Gestion Interesados</span>
                      </button>

                     <button mat-menu-item enabled (click)="navigateToMenu2()">
                            <mat-icon>comment</mat-icon>
                              <span>Gestion Comunicaciones</span>
                     </button>

                     <button mat-menu-item enabled (click)="navigateToMenu2()">
                          <mat-icon>emergency</mat-icon>
                              <span>Gestion Riesgos</span>
                     </button>

                     <button mat-menu-item enabled (click)="navigateToMenu2()">
                          <mat-icon>format_list_numbered_rtl</mat-icon>
                            <span>Gestion Proyectos</span>
                     </button>

                     <button mat-menu-item enabled (click)="navigateToMenu2()">
                        <mat-icon>play_lesson</mat-icon>
                          <span>Lecciones Aprendidas</span>
                     </button>

                     <button mat-menu-item enabled (click)="navigateToMenu2()">
                          <mat-icon>reduce_capacity</mat-icon>
                             <span>Gestion Capacitaciones</span>
                     </button>

                </mat-menu>



            <button mat-icon-on [matMenuTriggerFor]="menu2" aria-label="Example">
              <mat-icon>vertical_split</mat-icon>
              <span>PMO</span>
            </button>

              <mat-menu #menu2="matMenu" >

                     <button mat-menu-item enabled (click)="navigateToMenu()">
                          <mat-icon>date_range</mat-icon>
                              <span>Programa Trabajo</span>
                      </button>

                      <button mat-menu-item enabled (click)="navigateToMenu()">
                            <mat-icon>paid</mat-icon>
                              <span>Anexos Proyectos</span>
                      </button>

                      <button mat-menu-item>
                          <mat-icon>fact_check</mat-icon>
                              <span>Seguimiento</span>
                      </button>

                      <button mat-menu-item enabled (click)="navigateToMenu()">
                          <mat-icon>local_see</mat-icon>
                            <span>Graficas y Fotografias</span>
                      </button>

              </mat-menu>


              <button mat-icon-on [matMenuTriggerFor]="menu3" aria-label="Example">
                <mat-icon>settings</mat-icon>
                <span>Admin</span>
              </button>

                <mat-menu #menu3="matMenu" >

                       <button mat-menu-item enabled (click)="navigateToCompanys()">
                            <mat-icon>account_balance</mat-icon>
                                <span>Empresas</span>
                        </button>

                        <button mat-menu-item enabled (click)="navigateToUsers()">
                              <mat-icon>person_add_alt</mat-icon>
                                <span>Usuarios</span>
                        </button>

                        <button mat-menu-item>
                            <mat-icon>view_timeline</mat-icon>
                                <span>Permisos</span>
                        </button>

                        <button mat-menu-item enabled (click)="navigateToMenu()">
                            <mat-icon>menu_book</mat-icon>
                              <span> Administracion</span>
                        </button>

                </mat-menu>



              <button mat-button aria-label="s" (click)="logout()">
                <mat-icon>logoutortcut</mat-icon>
                LogOut
              </button>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
