
            <div >
              <mat-card class="card mt-3">
                <mat-card-header class="card-header p-2">
                  <mat-card-title-group class="card-title">
                    <mat-card-title>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-block bg-primary" type="button" (click)="newOc()">{{'new' | translate }}</button>
                        </div>
                      </div>
                    </mat-card-title>

                      <div class="col-xl-4 col-lg-4 col-md-4">
                        <input class="form-control" placeholder="{{'search' | translate}}"
                        (keyup)="applyFilter(ocDataSource, $event)">
                      </div>
                  </mat-card-title-group>

                </mat-card-header>
                <div class="mat-table-container mat-elevation-z2 m-3">
                  <table [hidden]="loadData" mat-table [dataSource]="ocDataSource" matSort matSortStart="desc">

                    <!-- Number Order -->
                    <ng-container matColumnDef="number">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                      <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.numorder}} </td>
                    </ng-container>

                       <!-- Fecha -->
                       <ng-container *ngIf="!screenSizeSM" matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> {{'date' | translate}} </th>
                        <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.date}} </td>
                      </ng-container>

                    <!-- Tipo Moneda -->
                    <ng-container *ngIf="!screenSizeSM" matColumnDef="currency">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> {{'currency' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="multi-line-description"> {{ element.desCurr }} </td>
                    </ng-container>

                    <!-- Status -->
                    <ng-container *ngIf="!screenSizeSM" matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> {{'status' | translate}} </th>
                        <td mat-cell *matCellDef="let element" class="multi-line-description"> {{ element.status }} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> {{'actions' | translate}} </th>
                      <td mat-cell *matCellDef="let element" class="text-nowrap">
                        <button
                          matTooltip="Choose Details"
                          class="btn btn-sm btn-warning mr-1"
                          (click)="showDetail(element)">
                          <i class="fas fa-file-alt mb-1"></i>
                        </button>
                        <button
                        class="btn btn-sm btn-dark mr-1"
                        (click)="editOc(element.id)">
                          <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button
                        class="btn btn-sm btn-danger"
                        (click)="deleteOc(element.id)">
                        <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColOc" class="header-tabla"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColOc;" class="fila-tabla element-row"></tr><!-- Row shown when there is no matching data. -->
                  </table>
                  <div *ngIf="loadData" class="text-center m-5">
                    <div class="spinner-border"></div>
                  </div>
                </div>
              </mat-card>
              <div class="card-footer bg-white">
                <mat-paginator [hidden]="loadData" [pageSizeOptions]="[15, 20, 25]" showFirstLastButtons  class="text-nowrap paginador"></mat-paginator>
              </div>
            </div>
