html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-table-container {
	position:relative;
	/*max-height:400px;*/
	overflow:auto;
}

.matTable-table {
    width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

.example-element-row td {
  border-bottom-width: 0 !important;
}

.example-element-detail {
  overflow: hidden !important;
  display: flex !important;
}

td.mat-cell{
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

mat-dialog-content::-webkit-scrollbar{
	width:6px !important;
}

mat-dialog-content::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 3px !important;
	border-radius:5px !important;
}

.cdk-overlay-container{
	z-index:2000 !important;


  .new-form-content {
    padding: 20px;
  }

  /* ... Other styles ... */

  .horizontal-form label,
  .horizontal-form input,
  .horizontal-form select {
    display: inline-block;
    margin-right: 10px;
    width: auto; /* Set the width to auto to make the elements smaller */
    padding: 5px; /* Adjust the padding as needed */
  }

  /* Apply a custom class to the specific fields and adjust their styles */
  .horizontal-form .small-field {
    width: 50px; /* Adjust the width as needed for small fields */
    padding: 3px; /* Adjust the padding as needed for small fields */
  }

  .horizontal-form .large-field {
    width : 51%; /* Set width to 100% for larger fields */
    height: 100; /* Adjust padding as needed for larger fields */
  }

  .horizontal-form button {
    display: inline-block;
    margin-top: 10px;
    width: auto;
    padding: 5px;
  }

  .inline-block {
    display: inline-block;
    margin-right: 7px;
  }

  .horizontal-form .form-column {
    display: inline-block;
    margin-right: 20px;
  }

  .horizontal-form .form-row {
    margin-bottom: 10px;
  }



}
