<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Companys</h1>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  

<h1>Enviar correo</h1>
<form (ngSubmit)="sendEmail()">
  <div>
    <label for="email">Correo electrónico:</label>
    <input type="email" id="to" class="form-control"
    [(ngModel)]="to" name="to" required>
  </div>

  <div>
    <label for="asunto">Asunto:</label>
    <input type="text" id="subject" class="form-control"
    [(ngModel)]="subject" name="subject" required>
  </div>

  <div>
    <label for="contenido">Contenido:</label>
    <textarea id="body" class="form-control"
    [(ngModel)]="html" name="body" required></textarea>
  </div>

  <button type="submit">Enviar</button>
</form>
